<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs', {title: "Chat"}) %>
<body>
    <%- include('./../partials/header.ejs', { auth }) %>
    <ul><% users.forEach(function(user){ %>
       <li> <%- include('../partials/user.ejs', {user: user}); %> </li>
      <% }); %>
    </ul>
</body>
</html>